.footer {
    width: calc(100% - 200px);
    padding-left: 200px;
    height: 40px;
    margin: 70px 0;
}

.footer .footerbtn {
    position: relative;
    width: 860px;
    margin: 0 auto;
}

.footer .btn {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px dashed transparent;
}

.footer .btn:nth-of-type(1) {
    left: 0;
}

.footer .btn:nth-of-type(2) {
    right: 0;
}



.footer img {
    width: 16px;
}

.footer .btn span {
    font-size: 14px;
    color: #3eaf7c;
}

.footer .btn:hover {
    cursor: pointer;
    border: 1px dashed #aaa;
    background-color: #eee;
    transition: all .2s linear;
}
