---
import "../styles/BaseFooterStyle.css";
---

<div class="footer">
    <div class="footerbtn">
        <div class="btn">
            <img src="/images/direction-left.png" alt="left" style="margin-right: 10px" />
            <span id="prev">上一页</span>
        </div>
        <div class="btn">
            <span id="next">下一页</span>
            <img src="/images/direction-right.png" alt="right" style="margin-left: 10px" />
        </div>
    </div>
</div>